node_modules
dist
dist-ssr
*.local
*.tsbuildinfo

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
/tests/__screenshots__/
